version: '3'
services:
  nginx-proxy:
    build: ./images/proxy
    container_name: nginx-proxy
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

  kafka.webview:
    container_name: kafka.webview
    image: sourcelaborg/kafka-webview:latest
    depends_on:
      - kafka
    volumes:
      - ./data/kafka:/app/data
    ports:
      - 8080:8080

  zookeeper:
    container_name: zookeeper
    image: wurstmeister/zookeeper:3.4.6
    ports:
      - 2181:2181

  go:
    container_name: go
    image: golang:alpine
    volumes:
      - /private/go/src/stat:/usr/src/stat
    working_dir: /usr/src/stat
    command: go run main.go

  kafka:
    container_name: kafka
    image: wurstmeister/kafka
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
    environment:
      HOSTNAME_COMMAND: "route -n | awk '/UG[ \t]/{print $$2}'"
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "autocounter:1:1"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  templates:
    image: portainer/templates
    container_name: "portainer-templates"
    networks:
      - local

  portainer:
    container_name: portainer
    image: portainer/portainer
    ports:
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

  clickhouse:
    container_name: clickhouse
    image: yandex/clickhouse-server
    hostname: clickhouse
    ports:
      - 8123:8123
    volumes:
      - ./data/clickhouse:/var/lib/clickhouse
      - ./images/clickhouse/clickhouse_dictionary.xml:/etc/clickhouse-server/clickhouse_dictionary.xml
      - ./images/clickhouse/config.xml:/etc/clickhouse-server/config.xml
      - ./clickhouse/timezone_config.xml:/etc/clickhouse-server/config.d/timezone_config.xml

  clickhouse.client:
    container_name: clickhouse.client
    image: yandex/clickhouse-client

  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - 127.0.0.1:27017:27017
    volumes:
      - ./data/mongo/:/data/db
 
  php:
    build: ./images/php
    container_name: php
    environment:
      TIMEZONE: Europe/Kiev
      XDEBUG_CONFIG: remote_host=192.168.4.135
      APPLICATION_ENV: cli_development
    volumes:
      - ./images/php/php.ini:/usr/local/etc/php/php.ini:ro
      - /private/www/adminer:/var/www/adminer:cached
      - /private/www/cab:/var/www/admin3/cab:cached
      - /private/www/antifraud:/var/www/admin3/antifraud:cached
      - /private/www/other/globalTemplates:/var/www/admin3/globalTemplates:cached
      - /private/www/library:/var/www/library:cached
      - /private/www/dashboard:/var/www/marketgid/dashboard:cached
      - /private/www/transit:/var/www/marketgid/transit:cached
      - /private/www/logs:/var/www/logs:cached
      - /private/www/logs/transit:/home/logs:cached
      - /private/www/develop:/var/www/develop:cached
      - /private/www/servicer:/var/www/servicer:cached
      - /private/www/mg-kafka:/var/www/mg-kafka:cached
      - /private/www/images:/data/images:cached
      - /private/www/repetitor:/var/www/repetitor:cached
      - /private/www/marketgid/newsranker:/var/www/marketgid/newsranker:cached
      - /private/www/cli:/var/www/marketgid/cli:cached
      - /private/www/api:/var/www/marketgid/api:cached
      - /private/www/marketgid/databases:/var/www/marketgid/databases:cached
      - /private/www/clickhouse-builder:/var/www/clickhouse-builder:cached
    working_dir: /var/www
    restart: always

  aerospike:
    container_name: aerospike
    image: aerospike:latest
    ports:
      - 3000:3000
#      - 3001:3001
#      - 3002:3002
#      - 3003:3003

  tools:
    container_name: tools
    build: ./images/perl
    depends_on:
      - mysql.intra.ru
    volumes:
      - /private/www/tools:/home/www/tools
      - ./images/perl/perl_cron.ini:/home/www/config/perl_cron.ini
      - ./data/perl/logs:/home/logs
    working_dir: /home/www/tools
    command: tail -f /dev/null

  adminer:
    container_name: adminer
    image: nginx:alpine
    depends_on:
      - nginx-proxy
      - php
    links:
      - php
    volumes:
      - ./images/nginx/adminer.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/adminer:/var/www/adminer:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: adminer.vh
    restart: always
    working_dir: /var/www/adminer

  develop.loc:
    container_name: develop.loc
    image: nginx:alpine
    depends_on:
      - nginx-proxy
      - php
    volumes:
      - ./images/nginx/develop.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/develop:/var/www/develop:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: develop.loc
    working_dir: /var/www/develop

  redis:
    container_name: redis
    image: redis:alpine

  dashboard.marketgid:
    container_name: dashboard.marketgid
    image: nginx:1.11
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.ru
      - redis
    volumes:
      - ./images/nginx/dashboard.marketgid.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/library/marketgid:/var/www/library:ro
      - /private/www/dashboard:/var/www/marketgid/dashboard:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: xi-dashboard.marketgid.com
      DB_HOST: mysql.intra.ru
    restart: always
    working_dir: /var/www/marketgid/dashboard

  dashboard.mgid:
    container_name: dashboard.mgid
    image: nginx:1.11
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.ru
      - redis
    volumes:
      - ./images/nginx/dashboard.mgid.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/library/marketgid:/var/www/library:ro
      - /private/www/dashboard:/var/www/marketgid/dashboard:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: xi-dashboard.mgid.com
      DB_HOST: mysql.intra.us
    restart: always
    working_dir: /var/www/marketgid/dashboard

  admin.marketgid:
    container_name: admin.marketgid
    image: nginx:alpine
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.ru
    volumes:
      - ./images/nginx/admin.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/cab:/var/www/admin3/cab:ro
      - /private/www/antifraud:/var/www/admin3/antifraud:ro
      - /private/www/other/public:/var/www/admin3/public:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: xi-admin.marketgid.com
    working_dir: /var/www/admin3/cab

  admin.mgid:
    container_name: admin.mgid
    image: nginx:alpine
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.us
    volumes:
      - ./images/nginx/admin.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/cab:/var/www/admin3/cab:ro
      - /private/www/other/public:/var/www/admin3/public:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: xi-admin.mgid.com
    working_dir: /var/www/admin3/cab

  api.mgid:
    container_name: api.mgid
    image: nginx:alpine
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.us
    volumes:
      - ./images/nginx/api.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/api:/var/www/marketgid/api:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: xi-api.mgid.com
    working_dir: /var/www/marketgid/api

  transit.idealmedia:
    container_name: transit.idealmedia
    image: nginx:latest
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.us
      - cdn
    volumes:
      - ./images/nginx/idealmedia.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/transit:/var/www/marketgid/transit:ro
      - /private/www/cdn:/var/www/cdn:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: local.idealmedia.com
      DB_HOST: mysql.intra.us
    working_dir: /var/www/marketgid/transit

  transit.lentainform:
    container_name: transit.lentainform
    image: nginx:latest
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.ru
      - cdn
    volumes:
      - ./images/nginx/lentainform.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/transit:/var/www/marketgid/transit:ro
      - /private/www/cdn:/var/www/cdn:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: local.lentainform.com
      DB_HOST: mysql.intra.ru
    working_dir: /var/www/marketgid/transit

  transit.marketgid:
    container_name: transit.marketgid
    image: nginx:latest
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.ru
      - cdn
    volumes:
      - ./images/nginx/lentainform.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/transit:/var/www/marketgid/transit:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: local.marketgid.com,local.marketgid.ru
      DB_HOST: mysql.intra.ru
    working_dir: /var/www/marketgid/transit

  newsranker.marketgid:
    container_name: newsranker.marketgid
    image: nginx:1.11
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.ru
    volumes:
      - ./images/nginx/newsranker.marketgid.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/marketgid/newsranker:/var/www/marketgid/newsranker:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: newsranker.lentainform.com
    working_dir: /var/www/marketgid/newsranker

  tabix:
    container_name: tabix
    image: spoonest/clickhouse-tabix-web-client:latest
    depends_on:
      - nginx-proxy
    expose:
      - 80
    environment:
      VIRTUAL_HOST: tabix.loc

  servicer.marketgid:
    container_name: servicer.marketgid
    image: nginx:latest
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.ru
    volumes:
      - ./images/nginx/servicer.marketgid.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/servicer:/var/www/servicer:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: servicer.local.marketgid.com
    working_dir: /var/www/servicer

  mg.kafka:
    container_name: mg.kafka
    image: nginx:latest
    depends_on:
      - php
      - nginx-proxy
      - kafka
    volumes:
      - ./images/nginx/mg-kafka.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/mg-kafka:/var/www/mg-kafka:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: mg-kafka.com
    working_dir: /var/www/mg-kafka

  repetitor:
    container_name: repetitor
    image: nginx:alpine
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra
    volumes:
      - ./images/nginx/api.repetitor.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/repetitor:/var/www/repetitor:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: repetitor.com
    working_dir: /var/www/repetitor

  jsc.marketgid:
    container_name: jsc.marketgid
    image: nginx:alpine
    depends_on:
      - nginx-proxy
    volumes:
      - ./images/nginx/jsc.marketgid.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/images:/data/images:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: local-jsc.marketgid.com

  cdn:
    container_name: cdn
    image: nginx:alpine
    depends_on:
      - nginx-proxy
    volumes:
      - ./images/nginx/cdn.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/cdn:/home/www/cdn:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: local-cdn.marketgid.com,local-cdn.lentainform.com

  mysql.intra.ru:
    container_name: mysql.intra.ru
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - 3306:3306
    volumes:
      - ./data/mysql/ru-mysql:/var/lib/mysql:cached
      - ./images/mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf:ro

  mysql.intra.us:
    container_name: mysql.intra.us
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - ./data/mysql/us-mysql:/var/lib/mysql:cached
      - ./images/mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf:ro

  mysql.intra:
    container_name: mysql.intra
    image: mysql:5.7
    ports:
      - 3300:3306
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - ./data/mysql/mysql:/var/lib/mysql:cached
      - ./images/mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf:ro

volumes:
  portainer_data:

networks:
  default:
    external:
      name: nginx-proxy
  local:
    driver: bridge
