version: '2'
services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - '80:80'
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

  zookeeper:
    container_name: zookeeper
    image: wurstmeister/zookeeper:3.4.6
    ports:
      - 2181:2181

  kafka:
    container_name: kafka
    image: wurstmeister/kafka
    ports:
      - 9092:9092
    environment:
      # open kafka to external connections
      HOSTNAME_COMMAND: "route -n | awk '/UG[ \t]/{print $$2}'"
      KAFKA_CREATE_TOPICS: "autocounter:1:1"
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  clickhouse:
    container_name: clickhouse
    image: yandex/clickhouse-server
    hostname: clickhouse
    ports:
      - 8123:8123
    volumes:
      - clickhouse-data:/var/lib/clickhouse/
      - ./docker/clickhouse/clickhouse_dictionary.xml:/etc/clickhouse-server/clickhouse_dictionary.xml
      - ./docker/clickhouse/config.xml:/etc/clickhouse-server/config.xml

  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - 127.0.0.1:27017:27017
 
  php:
    build: ./docker/php
    container_name: php
    environment:
      TIMEZONE: Europe/Paris
    volumes:
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini:ro
      - /private/www/adminer:/var/www/adminer:cached
      - /private/www/cab:/var/www/admin3/cab:cached
      - /private/www/library:/var/www/library:cached
      - /private/www/dashboard:/var/www/marketgid/dashboard:cached
      - /private/www/transit:/var/www/marketgid/transit:cached
      - /private/www/logs:/var/www/logs:cached
      - /private/www/logs/transit:/home/logs:cached
      - /private/www/develop:/var/www/develop:cached
      - /private/www/servicer:/var/www/servicer:cached
      - /private/www/images:/data/images:cached
    working_dir: /var/www

  tools:
    container_name: tools
    build: ./docker/perl
    volumes:
      - /private/www/tools:/home/www/tools
    working_dir: /home/www/tools
    command: tail -f /dev/null

  adminer:
    container_name: adminer
    image: nginx:alpine
    depends_on:
      - nginx-proxy
      - php
    volumes:
      - ./docker/nginx/adminer.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/adminer:/var/www/adminer:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: adminer.vh
    restart: always
    working_dir: /var/www/adminer

  develop.loc:
    container_name: develop.loc
    image: nginx:alpine
    depends_on:
      - nginx-proxy
      - php
    volumes:
      - ./docker/nginx/develop.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/develop:/var/www/develop:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: develop.loc
    working_dir: /var/www/develop

  local-redis:
    container_name: local-redis
    image: redis:alpine

  dashboard.marketgid.com:
    container_name: dashboard-marketgid
    image: nginx:1.11
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.ru
    volumes:
      - ./docker/nginx/dashboard.marketgid.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/library/marketgid:/var/www/library:ro
      - /private/www/dashboard:/var/www/marketgid/dashboard:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: local-dashboard.marketgid.com
      DB_HOST: mysql.intra.ru
    restart: always
    working_dir: /var/www/marketgid/dashboard

  dashboard.mgid.com:
    container_name: dashboard-mgid
    image: nginx:1.11
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.ru
    volumes:
      - ./docker/nginx/dashboard.mgid.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/library/marketgid:/var/www/library:ro
      - /private/www/dashboard:/var/www/marketgid/dashboard:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: local-dashboard.mgid.com
      DB_HOST: mysql.intra.us
    restart: always
    working_dir: /var/www/marketgid/dashboard

  admin.marketgid.com:
    container_name: admin-marketgid
    image: nginx:1.11
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.ru
    volumes:
      - ./docker/nginx/admin.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/library/marketgid:/var/www/library:ro
      - /private/www/cab:/var/www/admin3/cab:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: local-admin.marketgid.com
    working_dir: /var/www/admin3/cab

  local.idealmedia:
    container_name: local.idealmedia
    image: nginx:1.11
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.ru
    volumes:
      - ./docker/nginx/idealmedia.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/transit:/var/www/marketgid/transit:ro
      - /private/www/cdn:/var/www/cdn:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: local.idealmedia.com
    working_dir: /var/www/marketgid/transit

  servicer.marketgid.com:
    container_name: servicer.marketgid.com
    image: nginx:alpine
    depends_on:
      - php
      - nginx-proxy
      - mysql.intra.ru
    volumes:
      - ./docker/nginx/servicer.marketgid.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/servicer:/var/www/servicer:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: servicer.local.marketgid.com
    working_dir: /var/www/servicer

  jsc.marketgid.com:
    container_name: jsc.marketgid.com
    image: nginx:alpine
    depends_on:
      - nginx-proxy
    volumes:
      - ./docker/nginx/jsc.marketgid.conf:/etc/nginx/conf.d/default.conf:ro
      - /private/www/images:/data/images:ro
    expose:
      - 80
    environment:
      VIRTUAL_HOST: local-jsc.marketgid.com

  mysql.intra.ru:
    container_name: mysql.intra.ru
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - 3306:3306
    volumes:
      - ./data/mysql/ru-mysql:/var/lib/mysql:cached
      - ./data/mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf:ro

  mysql.intra.us:
    container_name: mysql.intra.us
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - ./data/mysql/us-mysql:/var/lib/mysql:cached
      - ./data/mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf:ro

volumes:
  clickhouse-data:
    driver: local

networks:
  default:
    external:
      name: nginx-proxy
